<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dinner</title>
  <link rel="stylesheet" href="{% static 'css/style.css'%}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
  <link rel="icon"  href="{% static 'img/fire_icon2.png'%}" type="image/gif" sizes="16x16">


    <style>


      .ice{
        background-image: url("{% static 'img/bgg.jpg'%}");
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
        position: absolute;
        z-index: 1;
        top: 0%;
        background-repeat: repeat;
        }

        h4{
          color: #000;
        }
     
    </style>
</head>
<body>
   
 <div class="ice1">
    <img class="icon" src="{% static 'img/fire_icon.png'%}" /> </div>
  <div class="ice2"> </div>
  <div class="ice"> </div>
  <div class="head">
    <img class="icon_menu" src="{% static 'img/fire_icon.png'%}" />

    <div id="top"><img class="icon_menu2" src="{% static 'img/fire_icon2.png'%}" /></div>
    <h1>Dinner</h1>

    <button style="height: 10%;
    background: none;
    border: none;
    z-index: 10;
    right: 10%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;" class="bb">
      <a href="#Login" style="
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        height: auto;
        
         " class="bb2"><b class="tx"> LOG IN </b></a></button>


    <div id="menu" onclick="show()">
      <img class="icon_menu_1" src="{% static 'img/menu.png'%}" />
      <img class="icon_menu_2" src="{% static 'img/close.png'%}" />
    </div>


  </div>
  <div id="detail">
    <div class="in_detail"><h1>ข้อมูลต่างๆ ใส่ตรงนี้</h1></div>
  </div>
 
  <h1 style="z-index: 1;
      text-align: center;
       display: block;
       position: absolute;
       margin-left: 30%;
       margin-right: 30%;
       color: #fff;
       font-size: 15vh;
       top: 20%;
      
       "> Swipe Right </h1>

  <div style="width:10%;height: 10%;
      background: none;
      border: none;
      z-index: 10;
      display: block;
      position: absolute;
      margin-left: 45%;
       margin-right: 45%;
      top: 60%;" class="bb">
     

    <div class="ctn">
       <a href="#popup1" style="
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        height: auto;
        position: absolute;left: 0;right: 0; " class="bb">สร้างบัญชี</a>

    </div>



      <form  id="Form" method="POST" enctype="multipart/form-data" action="{% url 'web' %}"> {% csrf_token %}


    <!-- ใส่เบอร์จ้าาา -->
    <div id="popup1" class="overlay" style="overflow: auto;">
      <div class="popup" style="top: 0%; width:50%">
        <img class="icon2" src="{% static 'img/fire_icon2.png'%}" style="height:5%; width: 10%;" /><br>
        <h2>SIGHT UP</h2>
        <h4>ใส่หมายเลขโทรศัทพ์ของคุณ</h4>

        <a class="close" href="#">&times;</a>
        <div class="content">

            <select name="prefix" id="prefix" class="form-control" style="background-color: aliceblue; float:left; height: 5%; border: none;">
              <option value="0">66+</option>
              <option value="1">+1</option>
              <option value="2">+82</option>
              <option value="3">+81</option>
              <option value="4">+45</option>
              <option value="5">+90</option>
            </select>
            <input type="tel" name="num" id="num" style="width:45%; height: 5%;  background-color: aliceblue; border: none; " required />
            <br>

        <h4>อีเมล์ของคุณคือ?</h4>
          <input type="email" name="email" id="email" placeholder="กรอกอีเมล์" style="border-bottom: 3px solid #DCDCDC;
          border-left: none; border-right: none; border-top: none; background-color: aliceblue;  width:70%; height: 5%; " required />
 <br>

         
    
    <!-- ชื่อจ้าาาาาาาา -->
    
        <h4>ชื่อของฉันคือ</h4>
          <input type="text" name="name" id="name" placeholder="ชื่อจริง" style="border-bottom: 3px solid #DCDCDC;
          border-left: none; border-right: none; border-top: none; background-color: aliceblue;  width:70%; height: 5%; " required />

  
  <!-- รหัสจ้าาา -->
    
        
        <h4>ใส่รหัสของคุณ</h4>
        <input type="password" name="password" id="password" placeholder="รหัสผ่านอย่างน้อย 8 หลัก" style="border-bottom: 3px solid #DCDCDC;
          border-left: none; border-right: none; border-top: none; background-color: aliceblue;  width:70%; height: 5%; " required /> <br> <br>
          
        
    <!-- ใส่วันเกิด วันเกิดจ้า-->
   
        <h4>วันเกิดของฉันคือ</h4>
       
        <div class="content">
        <input type="date" id="dob" style=" background-color: aliceblue; border: none; width:70%; height: 5%; color: grey;" placeholder="1972-11-12" />
     


    <!-- ใส่สถานศึกษา แม่งเอาไปทำไรวะ -->
    
        <h4>สถานศึกษาของฉัน</h4>
        <div class="content">
          <input type="text" name="school" id="school" placeholder="ชื่อสถานศึกษา" style="border-bottom: 3px solid #DCDCDC;
          border-left: none; border-right: none; border-top: none;
          
          background-color: aliceblue;  width:70%; height: 5%; " required />  <br>

    <!-- ใส่เพศจ้า -->
   
        <h4>ฉันเป็น</h4>
          <canter>
            <div class="input-group">
              <input type="radio" name="gender" value="male" id="gender-male" />
              <label for="gender-male" style="color: black; ">Male </h4></label>
              <br>
              <br>
              <input type="radio" name="gender" value="female" id="gender-female" />
              <label for="gender-female" style="color: black; ">Female</label>
            </div>
          </canter>
  
        

          
       
    <!-- ใส่รูป -->
 
                  <h4 style="color: black;">Upload Your Profile</h4>
                  
                    <br>
                      <div class="box-img">
                          <input type="file"  name="input-file"  id="input-file"  accept="image/*"  onchange={handleChange()} hidden/> 
                          <label class="upload" for="input-file" role="button">  Upload Photo </label>
                          <br>
                            <div class="preview-box"></div>  
                      </div>
        </div>
                     <br> <br>
                      <button type="submit" id="submit" class="button2" style="border-radius: 30px;"><b class="tx">ยืนยัน</b></button>
               <br> 
  
   </form>

      </div>
    </div>
 </div>



    <script>
      function show() {
        document.getElementById("menu").classList.toggle("show");
        document.getElementById("detail").classList.toggle("show");
        document.getElementById("top").classList.toggle("show");
      }

      {% comment %} show upload img {% endcomment %}
          const handleChange = () => {
        const fileUploader = document.querySelector('#input-file');
        const getFile = fileUploader.files
        if (getFile.length !== 0) {
          const uploadedFile = getFile[0];
          readFile(uploadedFile);
        }
      }

      const readFile = (uploadedFile) => {
        if (uploadedFile) {
          const reader = new FileReader();
          reader.onload = () => {
            const parent = document.querySelector('.preview-box');
            parent.innerHTML = `<img class="preview-content" src=${reader.result} />`;
          };
          
          reader.readAsDataURL(uploadedFile);
        }
      };


      (function ($) {
        //Declare our function
        $.fn.validatePin = function (options) {
          var defaults = {
            //Default Settings
            numericKeyboardOnMobile: false,
            blurOnSuccess: false,

            //Declaring our callback functions
            onSuccess: function () { },
            onFailure: function () { }
          };

          var settings = $.extend({}, defaults, options);

          //Cache the DOM into a jquery object so that repetitive scanning of DOM won't be necessary
          var $wrapper = $(this),
            $el = $wrapper.find('[data-role="pin"]'),
            $elCount = $wrapper.find('[data-role="pin"]').length;
          pin = "";

          $el.each(function () {
            pin += ".";
          });

          //Event Initializations
          bindEvents();

          //Function Declarations
          function bindEvents() {
            $($el).on("focus", function () {
              selectText(this);
            });

            if (checkForMobileDevices()) {
              $($el).on("keyup", function (e) {
                var $that = this;
                validateUserInput(e, $that, "keypress");
              });
            } else {
              $($el).on("keypress", function (e) {
                var $that = this;
                setTimeout(function () {
                  validateUserInput(e, $that, "keypress");
                }, 0);
              });
            }
            $($el).on("keydown", function (e) {
              var $that = this;
              setTimeout(function () {
                validateUserInput(e, $that, "keydown");
              }, 0);
            });
          }

          //Select the text in an input field
          function selectText(obj) {
            var value = $(obj).val();
            if (!checkForMobileDevices() && $.trim(value) != "") {
              $(obj).select();
            }
          }

          //Validate User Input
          function validateUserInput(e, obj, event) {
            var keycode = e.charCode || e.keyCode || e.which;
            var prevInput = $(obj).prev('[data-role="pin"]'),
              nextInput = $(obj).next('[data-role="pin"]'),
              index = $(obj).index(),
              value = $(obj).val(),
              empty;

            if (event == "keydown") {
              //Case - User Hits Left Arrow
              if (keycode === 37) {
                $(prevInput).focus();
                selectText(prevInput);
              } else if (keycode === 39) {
                //Case - User Hits Right Arrow
                $(nextInput).focus();
                selectText(nextInput);
              }

              if ($.trim(value) == "") {
                if (keycode === 8) {
                  $(prevInput).focus();
                  settings.onFailure.call(this);
                }
              } else {
                return false;
              }
            }

            if (event == "keypress") {
              if (keycode == 0) {
                return false;
              }

              //Case - User Enters an alphabet or a special character
              if (
                (keycode >= 65 && keycode <= 90) ||
                (keycode >= 186 && keycode <= 222)
              ) {
                e.preventDefault();
              }

              //Case - User enters a number from the main keypad or the numpad
              if (
                (keycode >= 48 && keycode <= 57) ||
                (keycode >= 96 && keycode <= 105)
              ) {
                pin = $.trim(pin.replace(/\s/g, ""));
                pin = pin.split("");
                pin[index] = value;
                pin = pin.join("");

                $(nextInput).focus();

                if (!checkForMobileDevices()) {
                  setTimeout(function () {
                    $(obj).val("•");
                  }, 200);
                } else {
                  $(obj).val("•");
                }
              }

              var empty = $($el).filter(function () {
                return this.value === "";
              });

              if (empty.length) {
                settings.onFailure.call(this);
              } else {
                settings.onSuccess.call(this);
                //Check if the user wants to move the focus out of the inputs on success
                if (settings.blurOnSuccess) {
                  $($el).blur();
                }
              }
            }

            //Check if default settings have been overrided by the user

            //Prompts a numberic keyboard on mobile
          }

          function checkForMobileDevices() {
            if (
              /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(
                navigator.userAgent
              )
            ) {
              return true;
            } else {
              return false;
            }
          }

          if (settings.numericKeyboardOnMobile) {
            if (checkForMobileDevices()) {
              $el.prop("type", "tel");
            }
          }
        };
      })(jQuery);

      $(document).ready(function () {
        $(".pin-wrapper").validatePin({
          numericKeyboardOnMobile: true,
          blurOnSuccess: true,
          onSuccess: function () {
            $(".pin").html(pin);
          },
          onFailure: function () {
            $(".pin").html("");
          }
        });
      });




    </script>
 
</body>

</html>